.navbar {
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 1.5rem 1rem -1.5rem #1111112b;
}

.nav-links {
    position: relative;
    display: flex;
    justify-content: space-between;
    min-height: 7.25rem;
    padding: 0 3.25rem;
}

.nav-left,
.nav-right {
    display: flex;
    align-items: center;
}

.navbar__links {
    display: flex;
}

.hamburger .navbar__links {
    display: none;
}

.nav-item {
    margin: 0 1.25rem;
}

.nav-item a:hover {
    color: var(--clr-primary);
}

.nav-logo {
    position: absolute;
    background: #fff;
    left: calc(50% - 1rem);
    top: 50%;
    transform: translate(-50%, -50%);
    height: 7.25rem;
    display: flex;
    align-items: center;
    width: 12rem;
    justify-content: center;
}

.login-btn {
    outline: 0;
    background-color: #273239;
    color: #fff !important;
    padding: 10px 24px;
    padding-top: 7px;
    border-radius: 0.5rem;
    font-size: 1.35rem;
    border: 0;
    font-weight: 500;
}

.nav-item a {
    font-weight: 600;
    color: #121212;
}

.nav-logo a {
    display: flex;
    margin-top: 0.3rem;
}

.nav-logo img {
    width: 10rem;
}

.navbar__responsive {
    display: none;
}

/* 
Dropdown 
*/

.user {
    position: relative;
    height: 100%;
    width: 3rem;
    cursor: pointer;
}

.user > svg {
    height: inherit;
    width: inherit;
    transition: width 0.4s;
}

.user > svg:hover {
    width: 2.6rem;
}

.dropdown {
    position: absolute;
    width: 20rem;
    right: -3.5rem;
    top: 100%;
    z-index: 100;
    color: var(--clr-black);
    font-weight: 400;
    box-shadow: 0 0 1.5rem 0 rgb(0, 0, 0, 18%);
    background: #fff;
}

.dropdown-items {
    display: flex;
    padding: 1rem 2rem;
    gap: 2rem;
}

.dropdown-items:hover {
    color: var(--clr-primary);
}

.dropdown-title {
    font-size: 1.5rem;
    font-weight: 500;
}

.dropdown-logo {
    display: flex;
    align-items: center;
    font-size: 2.2rem;
    color: #454545;
}

.dropdown-items:hover {
    background: #ececec;
}

.hamburger {
    display: none;
    cursor: pointer;
    width: 3rem;
    margin: 0 1.25rem;
}
/* 
Responsive navbar
*/

@media only screen and (max-width: 900px) {
    .navbar__links {
        display: none;
    }
    .hamburger .navbar__links {
        display: flex;
        position: fixed;
        top: -35rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
        z-index: -10;
        left: 0;
    }

    .hamburger .navbar__links.active {
        padding: 1rem 0;
        top: 7.2rem;
        box-shadow: 0 1.5rem 1rem -1.5rem #1111112b;
    }

    .hamburger {
        display: block;
    }

    .hamburger .nav-item {
        margin: 0;
        padding: 1rem;
    }

    .hamburger .nav-item:hover {
        color: initial;
        background: #f8f8f8;
    }

    .hamburger .bar {
        display: block;
        width: 2.5rem;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: var(--clr-black);
    }

    .hamburger .bar.active:nth-child(2) {
        opacity: 0;
    }

    .hamburger .bar.active:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger .bar.active:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}
