.company-problems-container {
  max-width: 85rem;
  margin: auto;
}

.go-back {
  font-weight: 500;
  line-height: 18px;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.go-back a {
  color: #989898;
  display: flex;
}

.go-back svg {
  margin-top: 1.2pt;
  margin-right: 5px;
}
