.read-post-container {
    max-width: 85rem;
    margin: auto;
}

.read-post-title {
    font-size: 3.75rem;
    font-weight: 400;
}

.read-post-desc {
    font-size: 2.15rem;
    margin-top: 1rem;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400;
}

.read-post-info {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 1.5rem;
    color: rgba(0, 0, 0, 0.5);
}

.read-post-info-right {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.post-edit,
.post-delete {
    font-size: 2.25rem;
}

.read-post-info-right svg {
    cursor: pointer;
}

.read-post-author a {
    font-size: inherit;
    color: var(--clr-black);
}

.read-post-author a:hover {
    text-decoration: underline;
}

.read-post-date {
    margin-top: 0.25rem;
}

.read-post-content {
    margin-top: 3rem;
    font-size: 2rem;
    font-weight: 400;
    min-height: max-content;
    display: flex;
    flex-direction: column;
}

.post-lines {
    line-height: 2.8rem;
}

.line-break {
    height: 2.8rem;
}
