.contest-container {
  max-width: 100rem;
  display: flex;
  margin: auto;
}

.contest-list-card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.contest-list-top {
  padding: 2rem;
}

.contest-list-heading {
  color: #000000a6;
  font-size: 2.75rem;
  font-weight: 500;
}

.contest-table {
  width: 100%;
  border-collapse: collapse;
}

.contest-table .first-col {
  width: 55%;
}

.contest-table thead {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 3px 0 rgb(0, 0, 0, 8%);
  text-align: left;
}

.contest-table th {
  color: #000000a6;
  font-weight: bold;
  padding: 5px 2rem;
}

.contest-table td {
  padding: 12px 2rem;
}

.cssbdr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

tbody :last-child {
  border-bottom: none;
}

.past-contest-name a {
  font-size: 14px;
  font-weight: 400;
  color: #373737;
}

.past-contest-date {
  font-size: 11px;
  color: grey;
}

.past-contest-duration {
  color: grey;
}

.virtual {
  display: flex;
  justify-content: center;
  width: fit-content;
  background: #c9f0ff;
  font-weight: 400;
  border-radius: 5px;
  padding: 2px 5px;
}

.virtual a {
  font-size: 12px;
  font-style: oblique;
}
