.contest-page-container {
  max-width: 120rem;
  margin: auto;
}

.contest-heading {
  margin-top: 5px;
  font-size: 3rem;
  color: #000000a6;
  font-weight: 500;
}

.contest-status-box {
  font-size: 1.8rem;
  padding: 2rem;
  margin: 2rem 0;
  border: 1px solid #eee;
  border-radius: 3px;
}

.contest-status {
  color: #606060;
  font-weight: 300;
}

.contest-questions-list {
  margin-top: 3rem;
  border-radius: 3px;
  min-width: 45rem;
  width: 45%;
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
}

.contest-question {
  padding: 10px 15px;
  border-bottom: 1px solid #ddd;
}

.contest-question:first-child {
  background: #f0f0f0;
}

.contest-question:last-child {
  border-bottom: none;
}

.contest-question a {
  font-size: 1.4rem;
  color: #227cb6;
}
