.mcq-container {
  display: flex;
  max-width: 120rem;
  margin: auto;
}

.mcq-card {
  margin-bottom: 3rem;
}

.mcq-count {
  font-weight: 500;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.mcq-options {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.option {
  display: flex;
  align-items: center;
  padding: 5px 3px;
  cursor: pointer;
}

.option:hover {
  background: rgba(0, 0, 0, 0.1);
}

.option-number {
  font-size: 2rem;
  margin-right: 5px;
  border: 1px solid #bde4bd;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  text-align: center;
}

.problem-check {
  margin-top: 1.25rem;
}

.right-answer,
.wrong-answer {
  display: none;
}

.show-right,
.show-wrong {
  display: block !important;
  margin-top: 1rem;
}
