.prob-container {
  margin: 13rem auto 0;
  padding: 0 3rem;
  background: #fff;
}

/* 
Left Container
*/

.problem-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.problem-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* 
=========
Company
=========
*/

.company-list {
  display: flex;
  flex-wrap: wrap;
}

.company-link {
  background: #e7e6f1;
  padding: 4px 1rem 6px;
  border-radius: 13px;
  margin: 0 12px 14px 0;
  font-size: 10pt;
  font-weight: 500;
  color: #595e68;
}

.company-link:hover {
  color: #595e68;
  background: #e0dff1;
}

.company-question-count {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.6rem;
  padding: 0 7px 1px;
  border-radius: 15px;
  margin-left: 4px;
  color: #fff;
  background: #655ea1;
}

/* 
Problem
*/

.fluid-container {
  display: flex;
  margin: auto;
  gap: 1rem;
}

.problem-container,
.compiler-container {
  flex-basis: 50%;
}

.problem-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 1.25rem;
}

.problem-title {
  font-weight: 500;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.problem-difficulty {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  line-height: 2rem;
}

.problem-description {
  margin-bottom: 1rem;
}
