.prob-container {
  margin: 13rem auto 0;
  padding: 0 3rem;
  background: #fff;
}

/* 
Left Container
*/

.problem-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.problem-single-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 20rem;
  padding: 1.2rem;
  flex-basis: calc(90% / 3);
  border: 1px solid #b0b0b0;
  border-radius: 2px;
  margin-bottom: 2.5rem;
  min-height: 12.5rem;
}

.problem-card-top {
  display: flex;
  flex: 1;
  width: 100%;
  justify-content: space-between;
  padding: 0 1rem;
  gap: 2rem;
}

.problem-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.problem-card-img {
  width: 3.6rem;
  display: flex;
}

.problem-card-img img {
  width: inherit;
}

.problem-link a {
  color: #423d69;
  line-height: 1.3;
  font-size: 1.5rem;
}

.problem-question-count {
  margin-top: 3px;
}

.problem-progress {
  text-align: center;
  line-height: 1.15rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.problem-progress .bar {
  width: 100%;
  height: 1rem;
  background-color: #e7e6f1;
  border-radius: 2rem;
}

.problem-progress .current-bar {
  height: inherit;
  background-color: #655ea1;
  border-radius: inherit;
}

/* 
============
Progress Bar
============
*/

.progress-card {
  display: flex;
  gap: 5rem;
}

.box {
  display: inline-block;
}

.progress {
  width: 10rem;
  height: 10rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress > .inner {
  position: absolute;
  color: #655ea1;
}

.progress > svg {
  height: 100%;
  display: block;
}

.problem-statistics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  gap: 1rem;
}

.stats {
  display: flex;
  width: 12rem;
  justify-content: space-between;
}

.stats-right {
  font-weight: 500;
  flex-basis: 30%;
  text-align: center;
}

/* 
=========
Company
=========
*/

.company-list {
  display: flex;
  flex-wrap: wrap;
}

.company-link {
  background: #e7e6f1;
  padding: 4px 1rem 6px;
  border-radius: 13px;
  margin: 0 12px 14px 0;
  font-size: 10pt;
  font-weight: 500;
  color: #595e68;
}

.company-link:hover {
  color: #595e68;
  background: #e0dff1;
}

.company-question-count {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.6rem;
  padding: 0 7px 1px;
  border-radius: 15px;
  margin-left: 4px;
  color: #fff;
  background: #655ea1;
}

/* 
==============
Featured List
==============
*/

.featured-list-card {
  display: flex;
  gap: 2rem;
  padding: 0.7rem 1rem;
  align-items: center;
  cursor: pointer;
  margin-bottom: 1rem;
  border-radius: 3px;
}

.featured-list-card:hover {
  background: #ececec;
  transition: 0.3s ease-in;
}

.featured-list-card-left {
  display: flex;
  font-size: 2.5rem;
  color: #454545;
}

.featured-list-card-title {
  line-height: 1.4;
  font-weight: 500;
  font-size: 1.7rem;
  color: var(--clr-black);
}

/* 
Problem
*/

.fluid-container {
  display: flex;
  margin: auto;
  gap: 1rem;
}

.problem-container,
.compiler-container {
  flex-basis: 50%;
}

.problem-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 1.25rem;
}

.problem-title {
  font-weight: 500;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.problem-difficulty {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  line-height: 2rem;
}

.problem-description {
  margin-bottom: 1rem;
}
